.app-page {
  .list {
    max-width: 600px;
    margin: 2rem auto;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      padding:10px 15px;
      border-radius: 5px;
      &:hover{
        background-color: #dedede;
      }
      .title {
        flex: 1;
      }
    }
  }

}